{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/puntos_avitar/list_general.js' %}"></script>
{% endblock %}
{% block busqueda %}

{% endblock %}
{% block columns %}
<tr>
    <th scope="col" style="width: 10%">id</th>
    <th scope="col" style="width: 15%">Cliente</th>
    <th scope="col" style="width: 10%">Factura</th>
    <th scope="col" style="width: 10%">Total Factura</th>
    <th scope="col" style="width: 15%">Acesor</th>
    <th scope="col" style="width: 10%">Fecha</th>
    <th scope="col" style="width: 10%"></th>
  </tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}
       
{% endblock %}
{% block javascript %}

{% endblock %}
{% block modal %}
 <!-- Modal -->
 <div class="modal fade" id="fechaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar Por Fecha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <input name="action" type="hidden" value="fecha">
          <label>Inicio:</label>
          <input type="date" data-date-format="yyyy-mm-dd" class="inicio" name="inicio" id="inicio">
          <label>Fin:</label>
          <input type="date" data-date-format="yyyy-mm-dd" class="fin" name="fin" id="fin">
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
      </div>
    </div>
  </div>

</div>

 <!-- Modal2 -->
 <div class="modal fade" id="ClienteModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Puntaje</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add1">
              <input name="cedula" type="hidden">
              {% csrf_token %}
              {{ formp }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>

{% endblock %}

{% block javascriptmodal %}

{% endblock %}