{% extends 'list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}
{% block busqueda %}
<div class="form-goup">
 
  <input name="ced" id="ced" clas="ced" type="hidden" value="{{ id }}">
</div>
 
 {% endblock %}
  {% block card %}
  <div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            Puntos Canjeados:    {{ name }} 
           
        </h3>
       
    </div>
    <div class="card-body">
  {% endblock %}
{% block columns %}
<tr>
    <th scope="col" style="width: 10%">Fecha</th>
    <th scope="col" style="width: 10%">Numero Factura</th>
    <th scope="col" style="width: 10%">Valor Factura</th>
    <th scope="col" style="width: 10%">Asesor</th>
    <th scope="col" style="width: 10%">Puntos</th>
    
  </tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

<tr>
  <th colspan="4" style="text-align:right">Total Puntos:</th>
  <th id="total"></th>
</tr>

{% endblock %}

{% block columns1 %}
<tr>
    <th scope="col" style="width: 10%">Fecha</th>
    <th scope="col" style="width: 10%">Detalle</th>
    <th scope="col" style="width: 10%">Asesor</th>
    <th scope="col" style="width: 10%">Puntos</th>
    
  </tr>
{% endblock %}

{% block rows1 %}

{% endblock %}
{% block total1 %}
<tr>
    <th colspan="3" style="text-align:right">Total Puntos:</th>
    <th id="total1"></th>
</tr>
<tr>
  <th colspan="3" style="text-align:right">Total Puntos Disponibles:</th>
  <th id="resta"></th>
</tr>
<tr>
  <th colspan="3" style="text-align:right">NIVEL:</th>
  <th >{{ nivel }}</th>
</tr>
{% endblock %}

{% block buttons_list %}
<a class="btn btn-primary btn-warning btn-xm btnAdd1" id="btnAdd1" name="btnAdd1">
  <i class="fas fa-plus"></i> Nueva Factura</a>
  <a class="btn btn-primary btn-success btn-xm btnAdd1" id="btnAdd2" name="btnAdd1"><i class="fa fa-plus" aria-hidden="true"></i>
   Canjear</a>
   <a class="btn btn-primary btn-danger btn-xm imprimir10" id="imprimir10" name="imprimir10"><i class="fa fa-print" aria-hidden="true"></i>
  Imprimir</a>
  <a class="btn btn-primary btn-info btn-xm formato" id="formato" name="formato"><i class="fa fa-print" aria-hidden="true"></i>
    Imprimir Formato</a>          
{% endblock %}


{% block javascript %}
<script src="{% static 'js/puntos_avitar/list.js' %}"></script>
<script src="{% static 'js/puntos_avitar/modals.js' %}"></script>
{% endblock %}
{% block modal %}
 <!-- Modal -->
 <div class="modal fade" id="ClienteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
       <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <input name="action" type="hidden" value="add">
                {% csrf_token %}
                {{ form }}
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
</form>
 </div>

 <!-- Modal2 -->
 <div class="modal fade" id="ClienteModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Puntaje</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add1">
              <input name="cedula" type="hidden" value="{{ id }}">
              {% csrf_token %}
              {{ formp }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
<!-- Modal3 -->
<div class="modal fade" id="ClienteModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Canjear</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add2">
              <input name="cedula" type="hidden" value="{{ id }}">
              {% csrf_token %}
              {{ formc }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
{% endblock %}

{% block javascriptmodal %}

{% endblock %}