{% extends 'list.html' %}
{% load static %}
{% block head_list %}

<script src="{% static 'js/puntos_avitar/modals.js' %}"></script>
<script src="{% static 'js/puntos_avitar/ventas.js' %}"></script>
{% endblock %}
{% block busqueda %}
<input name="init" type="hidden">
<input name="end" type="hidden">
{% endblock %}
{% block columns %}
<tr>
    <th scope="col" style="width: 10%">Id Cliente</th>
    <th scope="col" style="width: 20%">Cliente</th>
    <th scope="col" style="width: 20%">Total</th>
    <th scope="col" style="width: 20%">Puntos Acumulados</th>
    <th scope="col" style="width: 20%">Puntos Canjeados</th>
    <th scope="col" style="width: 20%">Puntos Disponibles</th>
    <th scope="col" style="width: 20%">Informacion</th>
  </tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}
<tr>
    <th colspan="2" style="text-align:right">Total Ventas:</th>
    <th>$ <label id="total"></label></th>
    
</tr>

{% endblock %}
{% block buttons_list %}
<a class="btn btn-primary btn-xm btnAdd" id="btnAdd" name="btnAdd">
  <i class="fas fa-plus"></i> Nuevo Cliente
</a>
<a class="btn btn-secondary btn-xm btncompañia" id="btncompañia" name="btncompañia">
  <i class="fas fa-plus"></i> Nueva Compañia
</a>
<a class="btn btn-info btn-xm btncuenta" id="btncuenta" name="btncuenta">
  <i class="fas fa-plus"></i> Agregar Cuenta
</a>

<a class="btn btn-primary btn-warning btn-xm btnAdd1" id="btnAdd1" name="btnAdd1">
  <i class="fas fa-plus"></i> Nueva Factura</a>
  <a class="btn btn-primary btn-success btn-xm btnAdd1" id="btnAdd2" name="btnAdd1"><i class="fa fa-plus" aria-hidden="true"></i>
   Canjear</a>
<a class="btn btn-primary btn-info btn-xm btnfiltrar" id="btnfiltrar" name="btnfiltrar"><i class="fa fa-file" aria-hidden="true"></i>
  Informes</a> 
  <a class="btn btn-primary btn-danger btn-xm btnimprimir" id="btnimprimir" name="btnimprimir"><i class="fa fa-print" aria-hidden="true"></i>
  </i> Imprimir</a>      
{% endblock %}
{% block javascript %}

{% endblock %}
{% block modal %}
 <!-- Modal -->
 <div class="modal fade" id="fechaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Buscar Por Fecha</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <input name="action" type="hidden" value="fecha">
                <label>Inicio:</label>
                <input type="date" data-date-format="yyyy-mm-dd" class="inicio" name="inicio" id="inicio">
                <label>Fin:</label>
                <input type="date" data-date-format="yyyy-mm-dd" class="fin" name="fin" id="fin">
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
            </div>
          </div>
        </div>

 </div>
 <!-- Modal1 -->
 <div class="modal fade" id="ClienteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add">
              {% csrf_token %}
              {{ form }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
 <!-- Modal2 -->
 <div class="modal fade" id="ClienteModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Puntaje</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add1">
              <input name="cedula" type="hidden">
              {% csrf_token %}
              {{ formp }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
<!-- Modal3 -->
<div class="modal fade" id="ClienteModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Canjear</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add2">
              <input name="cedula" type="hidden">
              {% csrf_token %}
              {{ formc }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>

<!-- Modal4 -->
<div class="modal fade" id="CompañiaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Compañias</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add5">
              <input name="cedula" type="hidden">
              {% csrf_token %}
              {{ formcom }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>

<!-- Modal5 -->
<div class="modal fade" id="CuentasModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cuentas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add6">
              <input name="cedula" type="hidden">
              {% csrf_token %}
              {{ formcuentas }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
{% endblock %}

{% block javascriptmodal %}

{% endblock %}