{% extends 'form.html' %}
{% load static %}
{% block head_form %}

{% endblock %}
{% block titulo  %} {{ title }} {% endblock %}
{% block content %}

<div class="card card-primary card-m">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-search"></i>
        {{ title }}
      </h3>
    </div>
    
    <div class="card-body">
        
      {% block form %}
      <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="inmueble">
            <div class="row"> <div class="col-md-2"><label> {{ form.matricula.label}}</label>{{ form.matricula }}</div>
                <div class="col-md-4"><label> {{ form.clientes.label}}</label>
                  <div class="input-group">
                    <span class="input-group-text"> <a class="btn btn-primary btn-flat btn-xs btncliente"  id="btncliente" name="btnbarrio" >
                      <i class="fas fa-plus ms"></i></a></span>
                      {{ form.clientes }}
                  </div>
                  
                  
                </div>
                  
                
                <div class="col-md-2">
                  <label> {{ form.ubucacion.label}}</label>
                  <div class="input-group">
                    <span class="input-group-text"> <a class="btn btn-primary btn-flat btn-xs btnbarrio"  id="btnbarrio" name="btnbarrio" >
                      <i class="fas fa-plus ms"></i></a></span>
                    {{ form.ubucacion }}
                  </div>
                 
                 
                </div>
                   
                  
                  <div class="col-md-4"><label> {{ form.direccion.label}}</label>{{ form.direccion }}</div>

            </div>
            
            <div 
            class="row"> <div class="col-md-2"><label> {{ form.categorias.label}}</label>
              
              <div class="input-group">
                <span class="input-group-text"> <a class="btn btn-primary btn-flat btn-xs btntipoim"  id="btntipoim" name="btntipoim" >
                  <i class="fas fa-plus ms"></i></a></span>
              {{ form.categorias }}
            </div>

            </div>
            <div class="col-md-2"><label> {{ form.tipo_negocio.label}}</label>
              <div class="input-group">
                <span class="input-group-text"> <a class="btn btn-primary btn-flat btn-xs btntiponeg"  id="btntiponeg" name="btntiponeg" >
                  <i class="fas fa-plus ms"></i></a></span>
              {{ form.tipo_negocio }}
            
            </div>
            </div>
              <div class="col-md-1"><label> {{ form.alcobas.label}}</label>{{ form.alcobas }}</div>
               <div class="col-md-1"><label>{{ form.baños.label}}</label>{{ form.baños }}</div>
               <div class="col-md-2"><label>{{ form.garajes.label}}</label>{{ form.garajes }}</div>
               <div class="col-md-1"><label>{{ form.piso.label}}</label>{{ form.piso }}</div>
               <div class="col-md-1"><label>{{ form.sala.label}}</label>{{ form.sala }}</div>
               <div class="col-md-1"><label>{{ form.comedor.label}}</label>{{ form.comedor }}</div>
               <div class="col-md-1"><label>{{ form.cocina.label}}</label>{{ form.cocina }}</div>

               <div class="col-md-1"><label> {{ form.estufa.label}}</label>{{ form.estufa }}</div>
              <div class="col-md-1"><label>{{ form.campana.label}}</label>{{ form.campana }}</div>
             <div class="col-md-2"><label>{{ form.gabinete_superior.label}}</label>{{ form.gabinete_superior }}</div>
             <div class="col-md-2"><label>{{ form.gabinete_inferior.label}}</label>{{ form.gabinete_inferior }}</div>
       <div class="col-md-2"><label>{{ form.aire_acondicionado.label}}</label>{{ form.aire_acondicionado }}</div>
       <div class="col-md-2"><label>{{ form.cortineras.label}}</label>{{ form.cortineras }}</div>
       <div class="col-md-2"><label>{{ form.filtro_agua.label}}</label>{{ form.filtro_agua }}</div>

       <div class="col-md-1"><label> {{ form.balcon.label}}</label>{{ form.balcon }}</div>
       <div class="col-md-1"><label> {{ form.amoblado.label}}</label>{{ form.amoblado }}</div>
       <div class="col-md-2"><label>{{ form.muebles_baño.label}}</label>{{ form.muebles_baño }}</div>
      <div class="col-md-2"><label>Zona De Labores</label>{{ form.contador_gas }}</div>
      <div class="col-md-2"><label>{{ form.contador_agua.label}}</label>{{ form.contador_agua }}</div>
<div class="col-md-2"><label>{{ form.contador_energia.label}}</label>{{ form.contador_energia }}</div>
<div class="col-md-2"><label>{{ form.instalacion_gas.label}}</label>{{ form.instalacion_gas }}</div>

        </div>
        
        <div class="row"><div class="col-md-1"><label>{{ form.patio.label}}</label>{{ form.patio }}</div>
            <div class="col-md-1"><label> {{ form.estrato.label}}</label>{{ form.estrato }}</div>
           
            <div class="col-md-2"><label> {{ form.area_privada.label}}</label>
              <div class="input-group">
                
                  {{ form.area_privada }}<span class="input-group-text"><b>mts²</b> </span>
              </div>             
              </div>

              <div class="col-md-2"><label> {{ form.area_construida.label}}</label>
                <div class="input-group">
                 
                  {{ form.area_construida }} <span class="input-group-text"><b>mts²</b> </span>
                </div>             
                </div>
                
               <div class="col-md-2"><label>{{ form.area_total.label}}</label>
                
              
                <div class="input-group">
                 {{ form.area_total }}
                 <span class="input-group-text"><b>mts²</b> </span>
                </div>               
              </div>
               <div class="col-md-2"><label>{{ form.estado.label}}</label>{{ form.estado }}</div>
               <div class="col-md-2"><label>{{ form.ciudad.label}}</label>{{ form.ciudad }}</div>
               <div class="col-md-2"><label>{{ form.precio_venta.label}}</label>
                <div class="input-group">
                  <span class="input-group-text"><b>$</b> </span>
                  {{ form.precio_venta }}
                </div>                             
              </div>
               <div class="col-md-2"><label>{{ form.precio_alquiler.label}}</label>
                <div class="input-group">
                  <span class="input-group-text"><b>$</b> </span>
                  {{ form.precio_alquiler }}
                </div>       
               </div>
               <div class="col-md-2"><label>{{ form.precio_administracion.label}}</label>
                <div class="input-group">
                  <span class="input-group-text"><b>$</b> </span>
                  {{ form.precio_administracion }}
                </div>   
                
               
              </div>
              <div class="col-md-2"><label>{{ form.estatus.label}}</label>
                <div class="input-group">
                  
                  {{ form.estatus }}
                </div>   
                
               
              </div>
               
               <div class="col-md-3"><label>{{ form.foto.label}}</label>{{ form.foto }}</div>
               <div class="col-md-3"><label>{{ form.foto1.label}}</label>{{ form.foto1 }}</div>
               <div class="col-md-3"><label>{{ form.foto2.label}}</label>{{ form.foto2 }}</div>
               <div class="col-md-3"><label>{{ form.foto3.label}}</label>{{ form.foto3 }}</div>
               <div class="col-md-3"><label>{{ form.ubicacion.label}}</label>{{ form.ubicacion }}</div>
               <div class="col-md-6"><label>{{ form.observacion.label}}</label>{{ form.observacion }}</div>
               <div class="col-md-6"><label>{{ form.linderos.label}}</label>{{ form.linderos }}</div>
        </div> 
        <div class="col-md-8">{{ form.usuario.as_hidden }}</div>    
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-flat ">
            <i class="fas fa-save"></i> Guardar Registro
        </button>
    </div>
     
  </div>
</form> 
  {% endblock %}
 
 {% block modal %}
  <div class="modal fade" id="barrioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sp" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <ch2 class="modal-title">{{ title }}</ch2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
         </div>
         <form action="ubicacion" method="post" id="validar">
          {% csrf_token %}
          <div class="modal-body">
            <input type="hidden" name="action" value="barrio">
            {{ formu }}
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
           </div>
         </form>     
      </div>
    </div>
 </div>
 <div class="modal fade" id="clienteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-sp" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ch2 class="modal-title">Ingresar Propietario</ch2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <form action="clientes" method="post" id="validar">
        {% csrf_token %}
        <div class="modal-body">
          <input type="hidden" name="action" value="cliente">
          {{ formc }}
         </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
         </div>
       </form>     
    </div>
  </div>
  
</div>
<div class="modal fade" id="inmuebleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-sp" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ch2 class="modal-title">Ingresar Propietario</ch2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <form action="tipoinmueble" method="post" id="validar">
        {% csrf_token %}
        <div class="modal-body">
          <input type="hidden" name="action" value="tipoinmueble">
          {{ formt }}
         </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
         </div>
       </form>     
    </div>
  </div>
  
</div>
<div class="modal fade" id="negocioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-sp" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ch2 class="modal-title">Ingresar Propietario</ch2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <form action="servicios" method="post" id="validar" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
         <input type="hidden" name="action" value="negocio">
          {{ formn }}
         </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
         </div>
       </form>     
    </div>
  </div>
  
</div>

 {% endblock %}

 {% block javascript %}
 
  <script src="{% static 'js/inmuebles/inmueble.js' %}"></script>
 {% endblock %}
 {% endblock %}







