{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/inmuebles/arrendamiento.js' %}"></script>
<script src="{% static 'js/inmuebles/modals.js' %}"></script>
{% endblock %}
{% block busqueda %}

 {% endblock %}
{% block columns %}
<tr>
  <th scope="col" style="width: 10%">Fecha</th>
  <th scope="col" style="width: 5%">Codigo</th>
  <th scope="col" style="width: 5%">Referencia</th>
  <th scope="col" style="width: 10%">Consecutivo</th>
  <th scope="col" style="width: 15%">Direccion Inmueble</th>
  <th scope="col" style="width: 15%">Tipo Inmueble</th>
  <th scope="col" style="width: 20%">Cliente</th>
  <th scope="col" style="width: 15%">Valor Canon</th>
  <th scope="col" style="width: 5%">Contrato</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}
<a class="btn btn-primary  btncontrato btn-xm" id="btncontrato" name="btncontrato">
  <i class="fas fa-plus"></i> Contrato
</a>
<a class="btn btn-primary btn-success btn-xm btnarrendatarios" id="btnarrendatarios" name="btnarrendatarios"><i class="fas fa-plus"></i>
  Cliente</a>
  <a class="btn btn-primary btn-danger btn-xm btncodeudor" id="btncodeudor" name="btncodeudor"><i class="fas fa-plus"></i>
    Codeudor</a>
    <a class="btn btn-secondary btn-xm btncompañia" id="btncompañia" name="btncompañia">
      <i class="fas fa-plus"></i> Compañia
    </a>
      
  <a class="btn btn-primary btn-warning btn-xm btnadministracion" id="btnadministracion" name="btnadministracion"><i class="fa fa-file" aria-hidden="true"></i>
     Administracion</a>
    <a class="btn btn-primary btn-info btn-xm btncorretaje" id="btncorretaje" name="btncorretaje"><i class="fa fa-file" aria-hidden="true"></i>
     Corretaje</a> 
     <a class="btn btn-primary btn-danger btn-xm btnedit3" id="btnedit3" name="btnedit3"><i class="fa fa-edit" aria-hidden="true"></i>
      Contrato</a>

{% endblock %}
{% block javascript %}


{% endblock %}
{% block modal %}
  <!-- Modal -->
<div class="modal fade" id="ContratoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contratos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add3">
              <input name="tipo_contrato" type="hidden" value="Arrendamiento">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ formadmin }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>

 <!-- Modal1 -->
 <div class="modal fade" id="ArrendatarioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Arrendatarios</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add">
              <input name="cedula" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ forma }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
<!-- Modal2 -->
<div class="modal fade" id="codeudorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Codeudores</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add1">
              <input name="cedula" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ formcod }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div> 
<!-- Modal3 -->
<div class="modal fade" id="representanteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Representante Legal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add2">
              <input name="cedula" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ formr }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div> 

<!-- Modal4 -->
<div class="modal fade" id="CompañiaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Compañia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add4">
              <input name="cedula" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ formcompañia }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div> 
{% endblock %}

{% block javascriptmodal %}

{% endblock %}