{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/inmuebles/caracteristicas.js' %}"></script>
<script src="{% static 'js/inmuebles/modals.js' %}"></script>
{% endblock %}
{% block busqueda %}
<input name="cont" type="hidden" value="Informe General" >
<input name="est" type="hidden" value="Informe General" >
 
 {% endblock %}
{% block columns %}
<tr>
  <th scope="col" style="width: 15%">Matricula</th>
  <th scope="col" style="width: 15%">Propietario</th>
  <th scope="col" style="width: 15%">Barrio</th>
  <th scope="col" style="width: 15%">Direccion</th>
  <th scope="col" style="width: 10%">Alquiler</th>
  <th scope="col" style="width: 10%">Tipo</th>
  <th scope="col" style="width: 10%">Ficha</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}
<a class="btn btn-primary btn-info btn-xm btninforme" id="btninforme" name="btninforme"><i class="fa fa-file" aria-hidden="true"></i>
  Informes</a> 
<a class="btn btn-primary btn-danger btn-xm imprimir11" id="imprimir11" name="imprimir11"><i class="fa fa-print">
</i> Imprimir</a>
{% endblock %}
{% block javascript %}


{% endblock %}
{% block modal %}
  <!-- Modal -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mantenimiento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="edit">
              <input name="codigo" type="hidden">              
              {% csrf_token %}
              {{ form }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
<!-- Modal3 -->
<div class="modal fade" id="fechaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <label>Tipos de Contrato</label>
        <select name="contrato" class="form-control estado" id="contrato">
          <option value="no" selected>-----------</option>
          <option value="2">En Venta</option>
          <option value="1">En Alquiler</option>
        </select>
        <label>Estatus</label>
        <select name="estatus" class="form-control estado" id="estatus">
          <option value="no" selected>-----------</option>
          <option value="disponible">Disponible</option>
          <option value="no disponible">No Disponible</option>
        </select>  
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block javascriptmodal %}

{% endblock %}