{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/inmuebles/corretaje.js' %}"></script>
<script src="{% static 'js/inmuebles/modals.js' %}"></script>
{% endblock %}
{% block busqueda %}

 {% endblock %}
{% block columns %}
<tr>
  <th scope="col" style="width: 10%">Fecha</th>
  <th scope="col" style="width: 5%">Codigo</th>
  <th scope="col" style="width: 5%">Referencia</th>
  <th scope="col" style="width: 10%">Consecutivo</th>
  <th scope="col" style="width: 15%">Direccion Inmueble</th>
  <th scope="col" style="width: 15%">Tipo Inmueble</th>
  <th scope="col" style="width: 20%">Propietario</th>
  <th scope="col" style="width: 15%">Valor Comercial</th>
  <th scope="col" style="width: 5%">Contrato</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}
<a class="btn btn-primary  btncontrato btn-xm" id="btncontrato" name="btncontrato">
  <i class="fas fa-plus"></i> Contrato
</a>
<a class="btn btn-primary btn-success btn-xm btnarrendatarios" id="btnarrendatarios" name="btnarrendatarios"><i class="fas fa-plus"></i>
  Propietario</a>
  <a class="btn btn-primary btn-warning btn-xm btnadministracion" id="btnadministracion" name="btnadministracion"><i class="fa fa-file" aria-hidden="true"></i>
     Administracion</a>
    <a class="btn btn-primary btn-info btn-xm btnarrendamiento" id="btnarrendamiento" name="btnarrendamiento"><i class="fa fa-file" aria-hidden="true"></i>
     Arrendamiento</a> 
     <a class="btn btn-primary btn-danger btn-xm btnedit1" id="btnedit1" name="btnedit1"><i class="fa fa-edit" aria-hidden="true"></i>
     Contrato 1</a>
     <a class="btn btn-primary btn-danger btn-xm btnedit2" id="btnedit2" name="btnedit2"><i class="fa fa-edit" aria-hidden="true"></i>
     Contrato 2</a>

{% endblock %}
{% block javascript %}


{% endblock %}
{% block modal %}
  <!-- Modal -->
<div class="modal fade" id="ContratoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contratos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add3">
              <input name="tipo_contrato" type="hidden" value="Corretaje">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ formadmin }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>

 <!-- Modal1 -->
 <div class="modal fade" id="ArrendatarioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Arrendatarios</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add">
              <input name="cedula" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ forma }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
<!-- Modal2 -->
<div class="modal fade" id="codeudorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Codeudores</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add1">
              <input name="cedula" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ formcod }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div> 
<!-- Modal3 -->
<div class="modal fade" id="representanteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Representante Legal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add2">
              <input name="cedula" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ formr }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div> 
{% endblock %}

{% block javascriptmodal %}

{% endblock %}