{% extends 'form.html' %}
{% load static %}
{% block head_form %}

{% endblock %}
{% block titulo  %} {{ title }} {% endblock %}
{% block content %}


    <div class="modal-content" style="height: 100%;">
     
       {% block form %}
       <form action="" method="post" id="validar">
        {% csrf_token %}
        <div class="modal-body">
          <input type="hidden" ide="actions" name="actions" class="actions" value="action">
          {{ form }}
         </div>
         <div class="modal-footer">
          
          <button type="submit" class="btn btn-primary">Guardar</button>
         </div>
       </form>  
       {% endblock %}   
    </div>
  
  {% endblock %}