{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-primary">
    <div class="container">
        <a href="" class="navbar-brand">
            {% if "Ferreteria" == request.user.groups.all.0.name  %}
            <img src="{% static 'img/logo avitar FERRETERIA.png' %}" alt="AdminLTE Logo"
                 class="brand-image"
                 >
            {% else %}
            <img src="{% static 'img/LogoBlanco.png' %}" alt="AdminLTE Logo"
            class="brand-image"
            >                     
            {% endif %}     
            
            
            
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'erp:inicio' %}" class="nav-link"><i class="fas fa-home"></i> Home</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Mantenimientos</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:pqrslist' %}" class="dropdown-item"><i class="fas fa-truck-loading"></i> Operaciones</a></li>
                        
                       
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Inmuebles</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:fichamodal' %}" class="dropdown-item"><i class="fas fa-truck-loading"></i> Listado Inmuebles</a></li>
                        <li><a href="{% url 'erp:inmueble' %}" class="dropdown-item"><i class="fas fa-boxes"></i> Nuevo Inmueble</a></li>
                        <li><a href="{% url 'erp:administracionlist' %}" class="dropdown-item"><i class="fas fa-boxes"></i> Contratos</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Ferreteria</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:ventas' %}" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Puntos Avitar</a></li>
                        <li><a href="{% url 'erp:list_general' %}" class="dropdown-item"><i class="fas fa-shopping-cart"></i> Facturas</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    {% for g in request.user.groups.all %}

                    <i class="fas fa-users-cog"></i> {{ g.name }}
                </a>
                {% endfor %}
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header" style="font-size: 12px;">
                        Sú último acceso fue {{ request.user.last_login }}
                    </span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-edit mr-2"></i> Editar perfil
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-lock mr-2"></i> Editar password
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">
                        <p>Este sistema te permitira realizar diferentes actividades</p>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'erp:salir' %}">
                    <i class="fas fa-power-off" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>