{% extends 'layout.html' %}
{% load static %}
{% block head %}

<link
  href="{% static 'lib/jquery-ui-1.13.2/jquery-ui.min.css' %}"
  rel="stylesheet"
/>
<script src="{% static 'lib/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
<link
  rel="stylesheet"
  href="{% static 'lib/datatables-1.12.1/css/dataTables.bootstrap4.min.css' %}"
/>

<!-- <link rel="stylesheet" href="{% static 'lib/datatables-1.12.1/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>-->
<script src="{% static 'lib/datatables-1.12.1/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.12.1/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

<!--<script src="{% static 'lib/datatables-1.12.1/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>-->

{% block head_list %} {% endblock %} {% endblock %} {% block content %}

 
 
  
    {% block buttons_list %}
    
    {% endblock %}
 
{% endblock %} {% block javascript %}

 
{% endblock %}
