{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Font Awesome Icons -->
     <link rel="stylesheet" href="{% static 'lib/adminlte3.2.0/plugins/fontawesome-free/css/all.min.css' %}">
     <!-- Theme style -->
     <link rel="stylesheet" href="{% static 'lib/adminlte3.2.0/css/adminlte.min.css' %}">
     <!-- Google Font: Source Sans Pro -->
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
     <!-- jQuery -->
     <script src="{% static 'lib/adminlte3.2.0/plugins/jquery/jquery.min.js' %}"></script>
     <!-- Bootstrap 4 -->
     <script src="{% static 'lib/adminlte3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
     <!-- AdminLTE App -->
     <script src="{% static 'lib/adminlte3.2.0/js/adminlte.min.js' %}"></script>
     <!-- Sweetalert2 -->
      <script src="{% static 'lib/sweetalert2-9.10.0sweetalert2.all.min.js' %}"></script>
     <!-- Jquery Confirm -->
      <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
      <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
     <!-- My css -->
     <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body class="hold-transition login-page">

    <div class="card">
        <div class="login-box">
            <div class="login-logo">
                <a href="{% url 'login' %}"> <img src="{% static 'img/Logo.jpg' %}" 
                    style="width: 100%;"
                         
                         >
                    
                </a>
            </div>
        <div class="card-body login-card-body">
           <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                                
                <div class="input-group mb-3">
                    {{ form.username|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su username' }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <td>{{ form.password|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su password' }}</td>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="application/javascript">