{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
    @page{
        margin: 2cm;
        margin-top: 4.5cm;
        @frame header {
        -pdf-frame-content:header;
        left: 59pt; width: 478pt; top: 20pt; height: 400pt; bottom: 100pt;
               
       }
       
    }
    

     
    .img-invoice {
        width: 250px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:10px;
        color: rgb(88, 84, 84);
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body> 
    <div class="header" id="header">
        {% if empresa %}
        <table style="text-align: center;">
            <tr ><td style="border: 1px solid rgb(88, 84, 84);  padding: 3px; width: 65%;">
                <p class="head" style="text-align:center;"> CONTRATO DE ARRENDAMIENTO {{ inmueble.categorias|upper }} </p>
                     <p class="head" style="text-align:center;">No: {{ codigo }}{{ referencia }}{{ consecutivo }}</p>
                     <p class="head" style="text-align:justify;">   CELEBRADO ENTRE {{ comp.name }}, IDENTIFICADA CON {{ comp.ruc }} Y {{ empresa.razon_social|upper }} IDENTIFICADA CON NIT No  {{ empresa.nit }} DOMICILIADA EN {{ empresa.ciudad|upper }}             
                </p>
            </td >
                <td style="border: 1px solid rgb(88, 84, 84); ">
                <img src="{{ logo }}" class="img-invoice"> 
               
            </td>
            </tr>
            </table>
        {% else %}
        <table style="text-align: center;">
        <tr ><td style="border: 1px solid rgb(88, 84, 84);  padding: 3px; width: 65%;">
            <p class="head" style="text-align:center;"> CONTRATO DE ARRENDAMIENTO {{ inmueble.categorias|upper }} </p>
                 <p class="head" style="text-align:center;">No: {{ codigo }}{{ referencia }}{{ consecutivo }}</p>
                 <p class="head" style="text-align:justify;">   CELEBRADO ENTRE {{ comp.name }}, IDENTIFICADA CON {{ comp.ruc }} Y {{ cliente.nombre|upper }} {{ genero|upper }} CON CEDULA DE CIUDADANIA No  {{ cliente.cedula }} EXPEDIDA EN {{ cliente.ciudad_expedicion|upper }}             
            </p>
        </td >
            <td style="border: 1px solid rgb(88, 84, 84); ">
            <img src="{{ logo }}" class="img-invoice"> 
           
        </td>
        </tr>
        </table>
        {% endif %}
    </div>
 
       <p style="text-align:justify;font-size:11pt;font-family: Arial;">
        <b>ARRENDADOR:</b> AVITAR PROYECTOS INMOBILIARIOS S.A.S, identificada con Nit. No.
        900602576-9, representada legalmente por JEFFREY JEAN OTTO ALEMAN VERGARA,
        identificado con cedula de ciudadanía No. 17.954.851 expedida en Fonseca – La
        Guajira.
        {% if empresa %} <b>ARRENDATARIO:</b> {{ empresa.razon_social|upper }}, identificada con Nit No. {{ empresa.nit }}, representada legalmente
        por {{ representante.nombre|upper }}, {{ genero }} con cedula de ciudadanía No {{ representante.cedula }} de
        {{ representante.ciudad_expedicion|upper }}. {% else %} <b>ARRENDATARIO:</b> {{ cliente.nombre|upper }}, {{ genero }} con cedula de
        ciudadanía. No. {{ cliente.cedula }} expedida en {{ cliente.ciudad_expedicion|upper }}. 
        {% endif %} {% if codeudor %}<b>DEUDOR SOLIDARIO</b>: {{ codeudor.nombre|upper }}, {{ genero }} con cedula de ciudadanía No {{ codeudor.cedula }} de {{ codeudor.ciudad_expedicion|upper }}.{% endif %} 
        <b>OBJETO:</b> Conceder el goce de un inmueble para {{ inm }}, con las
        especificaciones establecidas en el INVENTARIO DE ENTREGA Y VALORACIÓN DEL
        INMUEBLE anexo al presente. 
        <b>DIRECCION:</b> El inmueble objeto del presente contrato es {{ una }} {{ inm }} 
        {{ ubicada }} en la {{ inmueble.direccion }}, en el municipio de {{ inmueble.ciudad }}. <br>
        <b> LINDEROS:</b> {{ linderos }} <b>PRECIO DE LA RENTA:</b> Es de {{ valor1|lower }} pesos ($ {{ valor }}),
        pagaderos mensualmente en mesadas anticipadas dentro de los
        primeros cinco (5) días de cada período mensual.
        <b>DURACION DEL CONTRATO:</b> El término de duración del contrato es de {{ duracion }}
        <b>FECHA DE INICIACION DEL CONTRATO:</b> {{ fecha }}. {{ cuerpo| safe }}
         {{ fecha }}.
                </p>

        <p style="text-align:justify;font-size:14px;font-family: Arial;"> 
            <b> ARRENDADOR: </b> </p>

            <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 30px;"> 
                <b>_____________________________________________</b> <br>
                <b>JEFFREY JEAN OTTO ALEMAN VERGARA </b> <br>
                <b>AVITAR PROYECTOS INMOBILIARIOS S.A.S  </b> <br>
                NIT No. 900602576-9 
            </p> 
    
           
    <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 30px;"> 
        <b> ARRENDATARIO: </b> </p>
        {% if empresa %}
        <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 40px;"> 
            <b>___________________________________________________</b> <br>
            <b>{{ empresa.razon_social|upper }}</b> <br>
            NIT. No. {{ empresa.nit }}
        </p> 
        {% else %}
        <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 40px;"> 
            <b>___________________________________________________</b> <br>
            <b>{{ cliente.nombre|upper }}</b> <br>
            C.C. No. {{ cliente.cedula }}
        </p> 
        {% endif %}
       {% if codeudor %}
        <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 30px;"> 
            <b> DEUDOR SOLIDARIO: </b> </p>
    
            <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 40px;"> 
                <b>___________________________________________________</b> <br>
                <b>{{ codeudor.nombre|upper }}</b> <br>
                C.C. No. {{ codeudor.cedula }}
            </p>     
         {% endif %}
            <p style="text-align:center; margin-top: 500px;"> <b>ESPACIO PARA AUTENTICACIÓN DE FIRMAS</b></p>
</body>
</html>
