{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
  @page{
        margin: 2cm;
        margin-top: 4.5cm;
        @frame header {
        -pdf-frame-content:header;
        left: 59pt; width: 478pt; top: 20pt; height: 400pt; bottom: 100pt;
               
       }
       
    } 
    
    .img-invoice {
        width: 250px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:10px;
        color: rgb(88, 84, 84);
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body>
    <div class="header" id="header">
    <table style="text-align: center;">
        <tr ><td style="border: 1px solid rgb(88, 84, 84);  padding: 3px; width: 65%;">
            <p class="head" style="text-align:center;"> CONTRATO DE CORRETAJE PARA LA VENTA </p>
                 <p class="head" style="text-align:center;">No: {{ codigo }}{{ referencia }}{{ consecutivo }}</p>
                 <p class="head" style="text-align:justify;">   CELEBRADO ENTRE {{ comp.name }}, IDENTIFICADO CON {{ comp.ruc }} Y {{ cliente.nombre|upper }} {{ genero|upper }} CON CEDULA DE CIUDADANIA No  {{ cliente.cedula }} EXPEDIDA EN {{ cliente.ciudad_expedicion|upper }}             
            </p>
        </td >
            <td style="border: 1px solid rgb(88, 84, 84); ">
            <img src="{{ logo }}" class="img-invoice"> 
           
        </td>
        </tr>
        </table>
    </div>
       <p style="text-align:justify;font-size:11pt;font-family: Arial;">
        Entre los suscritos a Saber, <b>{{ cliente.nombre|upper }}</b> mayor de edad,
        {{ genero }} con la cédula de ciudadanía No {{ cliente.cedula }} expedida en {{ cliente.ciudad_expedicion }};
        Dirección: {{ cliente.direccion }}, en la ciudad de {{ cliente.ciudad_domicilo }}; Celular: {{ cliente.telefono }}; quien
        obra en nombre propio en calidad de {{ propietario }} {{ unico }} del inmueble objeto del presente contrato
        y en adelante se denominará <b>EL PROPONENTE</b> y por la otra parte <b>ALEMAN VERGARA PROYECTOS
        INMOBILIARIOS S.AS.</b> debidamente registrado en la Cámara de Comercio de Fonseca- La Guajira,
        bajo el NIT 900602576-9, Representada legalmente por JEFFREY JEAN OTTO ALEMAN VERGARA,
        identificado con cedula de ciudadanía No. 17.954.851, quien en adelante se llamará EL
       <b>CORREDOR</b>, se ha celebrado el <b>CONTRATO DE CORRETAJE PARA LA VENTA</b>, contenido en las
        siguientes cláusulas: <b>PRIMERA: Objeto Del Contrato.</b> - EL PROPONENTE entrega a EL CORREDOR
        un inmueble con el objeto de promover su venta y obtener las mejores ofertas posibles dentro del
        mercado. <b>SEGUNDA: Características.</b> - Las características del inmueble objeto del presente
        contrato son (1) {{ una }} {{ inm }}  {{ ubicada }} en la {{ inmueble.direccion }} barrio {{ inmueble.ubucacion }} dentro del
        perímetro urbano del municipio de {{ inmueble.ciudad }} cuyas medidas y linderos constan en la
        escritura numero {{ linderos }}. <b>TERCERA: Duración.</b> - El contrato tendrá una duración de
        {{ duracion }} {{ cuerpo| safe }}  {{ valor1|upper }}  DE PESOS MONEDA
        LEGAL. ($ {{ valor }} M/L), {{ cuerpo1| safe }}
        {{ fecha }}.
    </p>

            
        <p style="text-align:justify;font-size:11pt;font-family: Arial;"> 
            <b> PROPONENTE: </b> </p>
    
    <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 40px;"> 
        <b>___________________________________________________</b> <br>
        <b>{{ cliente.nombre|upper }}</b> <br>
        C.C. No. {{ cliente.cedula }}
    </p> 
           
    <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 30px;"> 
        <b> CORREDOR: </b> </p>

        <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 30px;"> 
            <b>_____________________________________________</b> <br>
            <b>JEFFREY JEAN OTTO ALEMAN VERGARA </b> <br>
            <b>AVITAR PROYECTOS INMOBILIARIOS S.A.S  </b> <br>
            NIT No. 900602576-9 
        </p> 

            <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 500px;">
            
                TESTIGOS:
            </p>
            <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 20px;">
                Firma: ____________________________________________  </p>
            <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 20px;">  
                Nombre completo: __________________________________   </p>
            <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 20px;">
                No. Cedula de Ciudadanía: ____________________________
            
            </p>
            <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 30px;">
            
                TESTIGOS:
            </p>
            <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 20px;">
                Firma: ____________________________________________  </p>
            <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 20px;">  
                Nombre completo: __________________________________   </p>
            <p style="text-align:justify;font-size:11pt;font-family: Arial; margin-top: 20px;">
                No. Cedula de Ciudadanía: ____________________________
            
            </p>
            <p style="text-align:center;">Espacio para reconocimiento de firmas e imposición de huellas</p>


           
            
</body>
</html>
