{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
    @page{
        margin: 2cm;
        margin-top: 4.5cm;
        @frame header {
        -pdf-frame-content:header;
        left: 59pt; width: 478pt; top: 20pt; height: 400pt; bottom: 100pt;
               
       }
       
    }
    .img-invoice {
        width: 250px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:10px;
        color: rgb(88, 84, 84);
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body>
    <div class="header" id="header">
    <table style="text-align: center;">
        <tr ><td style="border: 1px solid rgb(88, 84, 84);  padding: 3px; width: 65%;">
            <p class="head" style="text-align:center;"> CONTRATO DE ADMINISTRACION DE BIEN INMUEBLE </p>
                 <p class="head" style="text-align:center;">No: {{ codigo }}{{ referencia }}{{ consecutivo }}</p>
                 <p class="head" style="text-align:justify;">   CELEBRADO ENTRE {{ comp.name }}, IDENTIFICADO CON {{ comp.ruc }} Y {{ cliente.nombre|upper }} {{ genero|upper }} CON CEDULA DE CIUDADANIA No  {{ cliente.cedula }} EXPEDIDA EN {{ cliente.ciudad_expedicion|upper }}             
            </p>
        </td >
            <td style="border: 1px solid rgb(88, 84, 84); ">
            <img src="{{ logo }}" class="img-invoice"> 
           
        </td>
        </tr>
        </table>
    </div>
       <p style="text-align:justify;font-size:11pt;font-family: Arial;">
         <b>{{ la }} CONSIGNANTE: {{ cliente.nombre|upper }}</b>, {{ genero }} con la cédula de
ciudadanía No. {{ cliente.cedula }} Expedida {{ cliente.ciudad_expedicion }}, quien obra en su propio
nombre en calidad de {{ propietario }} {{ unico }} del inmueble objeto de contrato, {{ domicilio }} en
la {{ cliente.direccion }} en la ciudad de  {{ cliente.ciudad_domicilo }}. Celular: {{ cliente.telefono }}; E-mail:
{{ cliente.correo_electronico }}. <b>ADMINISTRADOR: ALEMAN VERGARA PROYECTOS
    INMOBILIARIOS S.A.S</b> , identificado con Nit. No. 900602576-9, representada
legalmente por <b> JEFFREY JEAN OTTO ALEMAN VERGARA</b>, identificado con cedula de
ciudadanía No. 17.954.851 expedida en Fonseca – La Guajira. <b> OBJETO:</b> Consignar el
inmueble con las especificaciones establecidas en el INVENTARIO DE ENTREGA DEL
INMUEBLE anexo al presente, para la administración en arrendamiento por cuenta y riesgo
DEL CONSIGNANTE. <b> DIRECCION:</b> El inmueble objeto del presente contrato es {{ el }}
{{ inm }} que se encuentra {{ ubicada }} en la {{ inmueble.direccion }} , en el municipio de
{{ inmueble.ciudad }}. <b> LINDEROS:</b> {{ linderos }}. <b>CANON SUGERIDO:</b> EL CONSIGNANTE sugiere el valor del
canon de arrendamiento, teniendo como referencia el valor de: $ {{ valor }} <b>VALOR
COMISIÓN POR ADMINISTRACIÓN:</b> EL CONSIGNANTE pagará a EL ADMINISTRADOR
por sus servicios una comisión equivalente al 10% del valor mensual del arrendamiento
recaudado. <b>DURACION DEL CONTRATO:</b> El término de duración del contrato es de
{{ duracion }}. <b>FECHA DE INICIACION DEL CONTRATO:</b> {{ fecha }}. {{ cuerpo| safe }}  Firmas- Para constancia del
                contrato celebrado, se firman los presentes documentos en el municipio de Fonseca en
                original y copia del mismo tenor, el día {{ fecha }}.
                
                
            
            
            
            
            </p>

        <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 250px;"> 
            <b> {{ la|upper }} CONSIGNANTE: </b> </p>
    
    <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 40px;"> 
        <b>___________________________________________________</b> <br>
        <b>{{ cliente.nombre|upper }}</b> <br>
        C.C. No. {{ cliente.cedula }}
    </p> 
           
    <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 30px;"> 
        <b> EL ADMINISTRADOR: </b> </p>

        <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 30px;"> 
            <b>_____________________________________________</b> <br>
            <b>JEFFREY JEAN OTTO ALEMAN VERGARA </b> <br>
            <b>AVITAR PROYECTOS INMOBILIARIOS S.A.S  </b> <br>
            NIT No. 900602576-9 
        </p> 
       
            <p style="text-align:center; margin-top: 250px;">Espacio para reconocimiento de firmas e imposición de huellas</p>
</body>
</html>
