{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
    .img-invoice {
        width: 350px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:large;
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body>
    <table>
        <tr><td>
            <p class="head">
                {{ comp.name|upper }}<br>
                {{ comp.ruc }}<br>
                {{ comp.address|upper }} <br>
                {{ comp.telefono|upper }}
            </p>
        </td>
            <td>
            <img src="{{ logo }}" class="img-invoice"> 
           
        </td>
        </tr>
        </table>


<p>
    <b>Fecha de Impresión:</b> {% now "d-m-Y" %}<br>
    <b>Registrado por:</b> {{ inmueble.usuario|upper }}<br>
   
</p>

<table id="cabecera">
    <thead > <tr>
        <th colspan="4"><b>Identificacion del Inmueble</b> </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4">
                <p style="text-align:left; padding-top: 6px; font-size: large">

                <b> Matricula Inmoviliaria: {{ inmueble.matricula }} </b> <br>  <b>Fecha De Consignacion: {{ inmueble.fecha }} </b></p>
            </td>
        </tr>
            <tr>
            <td style=" padding: 1.5px 1.5px 1.5px 1px ;  font-size: large;">
                <img src="{{ foto }}" >
    
            </td>
            <td style=" padding: 1.5px 1.5px 1.5px 1px;   font-size: large;">
                <img src="{{ foto1 }}" >
    
            </td>
            <td style=" padding: 1.5px 1.5px 1.5px 1px;  font-size: large;">
                <img src="{{ foto2 }}" >
    
            </td>
            <td style="padding: 1.5px 1.5px 1.5px 1px; font-size: large;">
                <img src="{{ foto3 }}" >
    
            </td>
        </tr>
    </tbody>
    </table>
        <table id="cabecera">
            <thead > <tr>
                <th colspan="3"><b>Localizacion</b> </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; margin-left: 10px;">
                        <p style="text-align:left;  font-size: large">
                          <b>Tipo de Inmueble:</b> {{ inmueble.categorias }} <br>
                           <b>Estado:</b> {{ inmueble.estado }} <br>
                           <b>Estrato:</b> {{ inmueble.estrato }} <br>
                        </p>      
                        
                    </td>
                    <td style="border-top: 1px solid black; padding-top: 4px; font-size: large; ">
                              <p style="text-align:left; font-size: large">
                                <b>Direccion:</b>  {{ inmueble.direccion }}<br>
                                <b>Barrio:</b> {{ inmueble.ubucacion }} <br>
                                <b>Ciudad:</b>  {{ inmueble.ciudad }} <br>
                                <b>Area Lote:</b>  {{ inmueble.area_total }} <br>
                                
                              
                        
                        </p>
                    </td>
                    
                    <td style="border-top: 1px solid black; padding-top: 4px; font-size: large; margin-left: 30px;">
                        <p style="text-align:left;  font-size: large">                      
                                <b>Area Construida:</b>  {{ inmueble.area_construida }} <br>                              
                                <b>Valor Comercial:</b>  {{ precio_venta }} <br>
                                <b>Valor Arriendo:</b>  {{ precio_alquiler }}
                        </p>
                    </td>
                </tr>
                       
           </tbody>
        </table>
        <table id="cabecera">
            <thead > <tr>
                <th colspan="3"><b>Caracteristicas Generales</b> </th>
            </tr>
            </thead>
            <tbody>
                <tr>
          
                    <td colspan="3"  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
                        <p style="text-align:justify; padding-left: 4px; font-size: large">
                        <b>Descripcion:</b> <br>
                        {{ inmueble.observacion }}
                        </p>

        </td>
        </tr>
        </tbody> 
        </table>              
<table>
    <thead>
        <tr>
            <th colspan="5" style=" border-bottom: 1px solid black; border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;"> Descripcion General</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td  style=" padding-top: 4px; font-size: large;">
                <ul style= "list-style-type: square;">

                    <li><b>{{ inmueble.alcobas }} Alcobas</b></li>
                    <li><b> {{ inmueble.baños }} Baños</b> </li>
                    {% if inmueble.garaje != "0 Vehiculo" %}
                    <li><b> Garaje para {{ inmueble.garajes }}</b></li>
                    {% endif %}
                    <li><b> De {{ inmueble.piso }} Pisos</b></li>
                    {% if inmueble.patio == SI %}
                    <li><b>Patio</b></li>
                    {% endif %}
                    {% if inmueble.cortineras == SI %}
                    <li><b> Cortinera</b> </li>
                    {% endif %}
                    {% if inmueble.muebles_baño == SI %}
                    <li><b> Muebles de Baño</b></li>
                    {% endif %}
                    {% if inmueble. == SI %}
                    <li><b> Amoblada</b></li>
                    {% endif %}

                    
                </ul>
                       
            </td>
            <td></td>
            <td style=" padding-top: 4px; font-size: large;">
                <ul style= "list-style-type: square;">
                    {% if inmueble.sala == SI %}
                    <li><b> Sala</b></li>
                    {% endif %}
                    {% if inmueble.comedor == SI %}
                    <li><b>Comedor</b></li>
                    {% endif %}
                    {% if inmueble.cocina == SI %}
                    <li><b> Cocina</b> </li>
                    {% endif %}
                    {% if inmueble.estufa == SI %}
                    <li><b> Estufa</b></li>
                    {% endif %}
                    {% if inmueble.filtro_agua == SI %}
                    <li><b> Filtro de Agua</b></li>
                    {% endif %}
                    {% if inmueble.balcon == SI %}
                    <li><b>Balcon</b></li>
                    {% endif %}
                    {% if inmueble.contador_gas == SI %}
                    <li><b> Zona De Labores</b> </li>
                    {% endif %}
                    
                </ul>   
           

            </td>
            <td></td>
            <td  style=" padding-top: 4px; font-size: large;  ">
                <ul style= "list-style-type: square;">
                    {% if inmueble.contador_agua == SI %}
                    <li><b> Contador de Agua</b></li>
                    {% endif %}
                    {% if inmueble.campana == SI %}
                    <li><b> Campana</b></li>
                    {% endif %}
                    {% if inmueble.gabinete_superior == SI %}
                    <li><b> Gabinete Superior</b></li>
                    {% endif %}
                    {% if inmueble.gabinete_inferior == SI %}
                    <li><b> Gabinete Inferior</b></li>
                    {% endif %}
                    {% if inmueble.aire_acondicionado == SI %}
                   <li><b>Aire Acondicionado</b></li>
                   {% endif %}   
                   {% if inmueble.contador_energia == SI %}
                   <li><b> Contador de Energia</b></li>
                   {% endif %}
                   {% if inmueble.instalacion_gas == SI %}
                   <li><b> Instalacion de Gas</b></li>
                   {% endif %}
                             
                </ul>   
            </td>
        </tr>
       
    </tbody>
</table>


<table>
<thead>
        <tr>
            <th colspan="5" style=" border-bottom: 1px solid black; border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;"> Ubicacion</th>
       </tr>
    </thead>
    <tbody>
        <tr>
        <td colspan="5" style="text-align:center;"><img src="{{ ubicacion }}"  style="width:700px; height: 250px;"></td>   
        </tr>
        
    </tbody>
</table>

</body>
</html>
