{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>

@page{
        margin: 1cm;
        margin-top: 4.5cm;
        @frame header {
        -pdf-frame-content:header;
        left: 30pt; width: 550pt; top: 20pt; height: 300pt; bottom: 100pt;
               
       }
       
    }

    
    .img-invoice {
        width: 200px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:large;
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        font-size:large;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
        font-size:large;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body>
    <div class="header" id="header">
        <table>
            <tr><td>
                <p class="head">
                    {{ comp.name|upper }}<br>
                    {{ comp.ruc }}<br>
                    {{ comp.address|upper }} <br>
                    {{ comp.telefono|upper }}
                </p>
            </td>
                <td style="text-align: right;">
                <img src="{{ logo }}" class="img-invoice"> 
               
            </td>
            </tr>
            </table>
    </div>



<p>
    <b>Fecha de Impresión:</b> {% now "d-m-Y" %}<br>
    <b>Registrado por:</b> {{ usuario|upper }}<br>
   
</p>
<table id="cabecera">
    <thead > <tr>
        <th colspan="2"><b>Informacion del Cliente</b> </th>
    </tr>
    </thead>
</table>
   <table>
    <tr>
        <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
            <b>Nombre:</b> {{ cliente.nombre }} <br>
            <b>Telefono:</b> {{ cliente.telefono }} <br>
             <b>Correo electronico:</b> {{ cliente.correo_electronico }}
            
        </td>
       
        
    </tr>

</table>
<table>
<table id="cabecera">
    <thead > <tr>
        <th colspan="2"><b>Puntos Acumulados</b> </th>
    </tr>
    </thead>
</table>
<table id="invoice">
    <thead>
    <tr>
        <th style="width: 30%;">FECHA</th>
        <th style="width: 30%;">NUMERO FACTURA</th>
        <th style="width: 30%;">VALOR FACTURA</th>
        <th style="width: 40%;">ASESOR</th>
        <th style="width: 20%;">PUNTOS</th>
    </tr>
    </thead>
    <tbody>
    {% for d in puntosA %}
        <tr {% if forloop.first %}style="padding-top: 3px;" {% endif %}>
            
            <td class="text-center">{{ d.fecha }}</td>
            <td class="text-center">{{ d.numero_factura }}</td>
            <td class="text-center">$ {{ d.total_factura }}</td>
            <td class="text-center">{{ d.vendedor }}</td>
            <td class="text-center">{{ d.puntaje_total }}</td>
        </tr>
    {% endfor %}
    <tr style="border-top: 1px solid black; padding-top: 4px;">
        <td colspan="4"><b>TOTAL PUNTOS:</b></td>
        <td class="text-center"><b>{{ total }}</b></td>
    </tr>
    
    </tbody>
</table>
<table id="cabecera">
    <thead > <tr>
        <th colspan="2"><b>Puntos Canjeados</b> </th>
    </tr>
    </thead>
</table>
<table id="invoice">
    <thead>
    <tr>
        <th style="width: 30%;">FECHA</th>
        <th style="width: 50%;">DETALLE</th>
        <th style="width: 40%;">ASESOR</th>
        <th style="width: 20%;">PUNTOS</th>
    </tr>
    </thead>
    <tbody>
    {% for d in puntosC %}
        <tr {% if forloop.first %}style="padding-top: 3px;" {% endif %}>
            
            <td class="text-center">{{ d.fecha }}</td>
            <td class="text-center">{{ d.detalle_canje }}</td>
            <td class="text-center">{{ d.vendedor }}</td>
            <td class="text-center">{{ d.canjeados }}</td>
        </tr>
    {% endfor %}
    <tr style="border-top: 1px solid black; padding-top: 4px;">
        <td colspan="3"><b>TOTAL PUNTOS:</b></td>
        <td class="text-center"><b>{{ total1 }}</b></td>
    </tr>
    <tr style="border-top: 1px solid black; padding-top: 4px;">
        <td colspan="3"><b>TOTAL PUNTOS DISPONIBLES:</b></td>
        <td class="text-center"><b>{{ resta }}</b></td>
    </tr>
    <tr style="border-top: 1px solid black; padding-top: 4px;">
        <td colspan="3"><b>NIVEL:</b></td>
        <td class="text-center"><b>{{ nivel }}</b></td>
    </tr>
    </tbody>
</table>
</body>
</html>
   




   

        
        

