{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
         @page{
        margin: 1cm;
        margin-top: 4cm;
        @frame header {
        -pdf-frame-content:header;
        left: 30pt; width: 600pt; top: 20pt; height: 300pt; bottom: 100pt;
               
       }
       
    }

    .img-invoice {
        width: 350px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:large;
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        font-size:large;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
        font-size:large;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body>
    <div class="header" id="header">

    <table>
        <tr><td>
            <p class="head">
                {{ comp.name|upper }}<br>
                {{ comp.ruc }}<br>
                {{ comp.address|upper }} <br>
                {{ comp.telefono|upper }}
            </p>
        </td>
            <td>
            <img src="{{ logo }}" class="img-invoice"> 
           
        </td>
        </tr>
        </table>

</div>
<p>
    <b>Fecha de Impresión:</b> {% now "d-m-Y" %}<br>
    <b>Registrado por:</b> {{ usuario|upper }}<br>
   
</p>
<table id="cabecera">
    <thead > <tr>
        <th colspan="2"><b>Estado de las Novedades</b> </th>
    </tr>
    </thead>
</table>
   
<table id="invoice">
    <thead>
    <tr>
       
        <th style="width: 30%;">NOVEDAD</th>
        <th style="width: 20%;">ESTADO</th>
        <th style="width: 20%;">FECHA</th>
        <th style="width: 20%;">REGISTRADO POR</th>
        <th style="width: 20%;">REPORTADO POR</th>
    </tr>
    </thead>
    <tbody>
    {% for d in novedad %}
        <tr {% if forloop.first %}style="padding-top: 3px;" {% endif %}>
            
           
            <td style=" border-bottom: 1px solid black;  padding-top: 4px; font-size: large; text-align:left;">{{ d.novedad }}</td>
            <td style=" border-bottom: 1px solid black;  padding-top: 4px; font-size: large; text-align:left;">{{ d.estado_novedad }}</td>
            <td style=" border-bottom: 1px solid black;  padding-top: 4px; font-size: large; text-align:left;">{{ d.fecha_novedad }}</td>
            <td style=" border-bottom: 1px solid black;  padding-top: 4px; font-size: large; text-align:left;">{{ d.usuario }}</td>
            <td style=" border-bottom: 1px solid black;  padding-top: 4px; font-size: large; text-align:left;">{{ d.usuario_novedad }}</td>
        </tr>
    {% endfor %}
     </tbody>
</table>


</body>
</html>
   




   

        
        

