{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
    @page{
        margin: 2cm;
        margin-top: 4.5cm;
        @frame header {
        -pdf-frame-content:header;
        left: 59pt; width: 478pt; top: 20pt; height: 300pt; bottom: 100pt;
               
       }
       
    }

    .img-invoice {
        width: 200px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:large;
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        font-size:large;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
        font-size:large;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body>
    <div class="header" id="header">
    <table>
        <tr><td>
            <p class="head">
                {{ comp.name|upper }}<br>
                {{ comp.ruc }}<br>
                {{ comp.address|upper }} <br>
                {{ comp.telefono|upper }}
            </p>
        </td>
            <td style="text-align: right;">
            <img src="{{ logo }}" class="img-invoice"> 
           
        </td>
        </tr>
        </table>
</div>

<p>
    <b>Fecha de Impresión:</b> {% now "d-m-Y" %}<br>
    <b>Registrado por:</b> {{ usuario|upper }}<br>
   
</p>
{% if start %}
<table>
    <tr>
        <td style=" padding-top: 4px; font-size: large;">
            <b>Periodo Comprendido Entre: </b>{{ start }}<b> Y </b>{{ end }}
            
        </td>
       
    </tr>

</table>
{% endif %}
<table id="cabecera">
    <thead > <tr>
        <th colspan="2"><b>Informe de Ventas y Puntaje</b> </th>
    </tr>
    </thead>
</table>
<table id="invoice">
    <thead>
    <tr>
        <th style="width: 40%;">CLIENTE</th>
        <th style="width: 20%;">TOTAL</th>
        <th style="width: 25%;">ACUMULADOS</th>
        <th style="width: 25%;">CANJEADOS</th>
        <th style="width: 25%;">DISPONIBLES</th>
    </tr>
    </thead>
    <tbody>
    {% for d in ventas %}
    {% if d.totalf %}
        <tr {% if forloop.first %}style="padding-top: 3px;" {% endif %}>
           
            <td>{{ d.nombre }}</td>
            <td class="text-center">$ {{ d.totalf }}</td>
            <td class="text-center">{{ d.totalp }}</td>
            <td class="text-center">{{ d.totalc }}</td>
            <td class="text-center">{{ d.totald }}</td>
           
        </tr>
        {% endif %}
    {% endfor %}
    <tr style="border-top: 1px solid black; padding-top: 4px;">
        <td colspan="0"><b>TOTAL VENTAS:</b></td>
        <td class="text-center">$ <b>{{ total }}</b></td>
    </tr>
    
    </tbody>
</table>

</body>
</html>
   




   

        
        

