{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
     @page{
        margin: 1cm;
        margin-top: 4cm;
        @frame header {
        -pdf-frame-content:header;
        left: 30pt; width: 600pt; top: 20pt; height: 300pt; bottom: 100pt;
               
       }
       
    }
  

    .img-invoice {
        width: 350px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:large;
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body>
    <div class="header" id="header">
    <table>
        <tr><td>
            <p class="head">
                {{ comp.name|upper }}<br>
                {{ comp.ruc }}<br>
                {{ comp.address|upper }} <br>
                {{ comp.telefono|upper }}
            </p>
        </td>
            <td>
            <img src="{{ logo }}" class="img-invoice"> 
           
        </td>
        </tr>
        </table>
    </div>

<p>
    <b>Fecha de Impresión:</b> {% now "d-m-Y" %}<br>
    <b>Registrado por:</b> {{ entrega.usuario|upper }}<br>
   
</p>

<table id="cabecera">
    <thead > <tr>
        <th colspan="2"><b>Informacion del Inmueble</b> </th>
    </tr>
    </thead>
</table>
   <table>
    <tr>
        <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
            <b>Código:</b> {{ cons }}<br>
            <b>Arrendatario:</b> 
            
        </td>
        <td></td>
        <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
            <b>Dirección Inmueble:</b> {{ inmueble.direccion|upper }}
            <b>Barrio:</b> {{ inmueble.ubucacion }}<br>            
        </td>
    </tr>

</table>
<table>
    <thead>
        <tr>
            <th colspan="3" style=" border-bottom: 1px solid black; border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;"> {{ novedad.etapa }}</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
            <b>Fecha:</b> <b>{{ novedad.fecha }}</b><br> 
            <b>Reportado Por:</b> <b>{{ novedad.usuario_reporte }}</b>
            </td>
            <td></td>
            <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; ">
                <b>Estado:</b> <b>{{ novedad.estado }}</b><br> 
                <b>Recibido Por:</b> <b>{{ novedad.usuario }}</b>
            </td>
        </tr>
        <tr>
            <td colspan="3" style=" padding-top: 4px; font-size: large; ">
                <b>Descripción:</b> {{ novedad.descripcion_actividad }}
            </td>
        </tr>
    </tbody>
</table>
<table>
<thead>
        <tr>
            <th colspan="3" style=" border-bottom: 1px solid black; border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;"> {{ visita.etapa }}</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
            <b>Fecha:</b> <b>{{ visita.fecha }}</b><br> 
            <b>Responsable:</b> <b>{{ visita.usuario }}</b>
            </td>
            <td></td>
            <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; ">
                <b>Hora:</b> <b>{{ visita.hora }}</b><br> 
                <b>Estado:</b> <b>{{ visita.estado }}</b>
            </td>
        </tr>
        <tr>
            <td colspan="3" style=" padding-top: 4px; font-size: large; ">
                <b>Descripción:</b> {{ visita.descripcion_actividad }}
            </td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
            <tr>
                <th colspan="3" style=" border-bottom: 1px solid black; border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;"> {{ presupuesto.etapa }}</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
                <b>Fecha:</b> <b>{{ presupuesto.fecha }}</b><br> 
                <b>Responsable:</b> <b>{{ presupuesto.usuario }}</b>
                </td>
                <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;"><b>Hora:</b> <b>{{ presupuesto.hora }}</b></td>
                <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; ">
                    <b>Autorizado:</b> <b>{{ presupuesto.autoricacion }}</b><br> 
                    <b>Estado:</b> <b>{{ presupuesto.estado }}</b>
                </td>
            </tr>
            <tr>
                <td colspan="3" style=" padding-top: 4px; font-size: large; ">
                    <b>Descripción:</b> {{ presupuesto.descripcion_actividad }}
                </td>
            </tr>
        </tbody>
    </table>
    {% for d in ejecucion %}
    <table>
        <thead>
                <tr>
                    <th colspan="3" style=" border-bottom: 1px solid black; border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;"> {{ d.etapa }}</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                    <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
                    <b>Procedimiento:</b> <b>{{ d.procedimientos }}</b>
                    <b>Responsable:</b> <b>{{ d.usuario }}</b>
                    </td>
                    <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;">
                        <b>Fecha:</b> <b>{{d.fecha }}</b><br>  
                        <b>Hora:</b> <b>{{ d.hora }}</b>
                    </td>
                    <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; ">
                        <b>Contratista:</b> <b>{{ d.contratista }}</b><br> 
                        <b>Estado:</b> <b>{{ d.estado }}</b>
                    </td>
                    </tr>
                    
                <tr>
                    <td colspan="3" style=" padding-top: 4px; font-size: large; ">
                        <b>Descripción:</b> {{ d.descripcion_actividad }}
                    </td>
                </tr>
                {% if d.responsable %}
                <tr>
                    <tr><th colspan="3" style="  font-size: large; text-align: center;"><b>Mantenimiento Preventivo</b></th></tr>
                    <td  style="padding-top: 4px; font-size: large; ">
                         
                        <b>Responsable:</b> <b>{{ d.responsable }}</b>
                    </td>
                    <td style="padding-top: 4px; font-size: large; ">
                        <b>Fecha:</b> <b>{{ d.fecha_ultimo }}</b><br> 
                    </td>
                    <td  style="padding-top: 4px; font-size: large;">
                        
                        <b>Fecha Proximo:</b> <b>{{ d.fecha_mantenimiento }}</b>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% endfor %}

        <table>
            <thead>
                    <tr>
                        <th colspan="3" style=" border-bottom: 1px solid black; border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;"> {{ entrega.etapa }}</th>
                   </tr>
                </thead>
                <tbody>
                    <tr>
                        <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large;">
                        <b>Fecha:</b> <b>{{ entrega.fecha }}</b><br>
                        <b>Responsable:</b> <b>{{ entrega.usuario }}</b>
                        </td>
                        <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; text-align: center;">
                            <b>Hora:</b> <b>{{entrega.hora }}</b><br>  
                           
                        </td>
                        <td  style="border-top: 1px solid black; padding-top: 4px; font-size: large; ">
                            <b>Recibido Por:</b> <b>{{ entrega.recibido_por }}</b>
                            <b>Estado:</b> <b>{{ entrega.estado }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style=" padding-top: 4px; font-size: large; border-bottom: 1px solid black;">
                            <b>Descripción:</b> {{ entrega.descripcion_actividad }}
                        </td>
                    </tr>
                </tbody>
            </table>
        
<table style="margin-top: 30px;">
    <thead>
    <tr><th>____________________________________</th>
        <th>____________________________________</th>
    </tr>
        <th style=" font-size: large;">
            {{ entrega.usuario|upper }}</th>
  
        <th style="font-size: large;">
            {{ entrega.recibido_por|upper }}</th>
    </tr>
    </thead>
</table>

</body>
</html>
