{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
    @page{
        margin: 1cm;
        margin-top: 4.5cm;
        @frame header {
        -pdf-frame-content:header;
        left: 30pt; width: 538pt; top: 20pt; height: 400pt; bottom: 100pt;
               
       }
       
    }
    

     
    .img-invoice {
        width: 250px;
        text-align: right;
        margin: 0 auto;
        position: relative;
    }

    .head {
        margin-top: 0px;
        text-align: left;
        font:bold;
        font-size:10px;
        color: rgb(88, 84, 84);
       
       
       
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
        margin-bottom: 2px;
    }

    #blok {
    display: inline;
    flex-wrap: wrap;
    justify-content:space-between;
    }
    p{
        font-size:large;
    }

    #cabecera thead tr th {
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
        margin-bottom: 20px;
        font:bold; 
        font-size:large;
             
    }

      
</style>
<body> 
    <div class="header" id="header">
        <table style="text-align: center;">
        <tr >
        </td >
        <td style="border: 1px solid rgb(88, 84, 84); ">
        <img src="{{ logo }}" class="img-invoice"> 
       
    </td>
            <td style="border: 1px solid rgb(88, 84, 84);  padding: 3px; width: 65%;">
            <p class="head" style="text-align:center;"> FORMATO DE VINCULACIÓN DE {% if formato.referencia == "CONS" %} CLIENTES CONSTRUCTORES {% else %} CLIENTES ASOCIADOS
            {% endif %}
            </p>
                 <p class="head" style="text-align:center;">No: {{ formato.referencia }}{{ formato.consecutivo }}</p>
                 <p class="head" style="text-align:center;">FECHA: {{ formato.fecha }}</p>
                 <td style="border: 1px solid rgb(88, 84, 84);">
                    <img src="{{ qr }}" class="img-invoice">        
            
        </td>
        </tr>
        </table>
    </div>
 
       <table id="cabecera">
        <thead > <tr>
            <th colspan="2"><b>DATOS PERSONALES</b> </th>
        </tr>
        </thead>
    </table>
       <table>
        <tr>
            <td style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>Tipo de Persona:</b> {{ formato.tipo_persona }}<br>
                <b>Nombre completo:</b> {{ formato.nombre }}<br>
                
                
            </td>
            
            <td  style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>Cedula o NIT:</b> {{ formato.cedula }}<br>
                <b>Lugar de Expedicion:</b> {{ formato.ciudad_expedicion }}<br>           
            </td>
        </tr>
    
    </table>
    <table id="cabecera">
        <thead > <tr>
            <th colspan="2"><b>DATOS DOMICILIARIOS</b> </th>
        </tr>
        </thead>
    </table>
       <table>
        <tr>
            <td style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>Direccion:</b> {{ formato.direccion }}<br>
                <b>Ciudad:</b> {{ formato.ciudad_domicilo }}<br>
                
                
            </td>
            
            <td  style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>Correo Electronico:</b> {{ formato.correo_electronico }}<br>
                <b>Telefono:</b> {{ formato.telefono }}<br>           
            </td>
        </tr>
    
    </table>
    {% if compañia  %}
    <table id="cabecera">
        <thead > <tr>
            <th colspan="2"><b>DATOS DE LA EMPRESA</b> </th>
        </tr>
        </thead>
    </table>
       <table>
        <tr>
            <td style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>NIT:</b> {{ compañia.nit }}<br>
                <b>Razon Social:</b> {{ compañia.razon_social }}<br>
                <b>Direccion:</b> {{ compañia.direccion }}<br>             
                
            </td>
            
            <td  style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>Correo Electronico:</b> {{ compañia.correo_electronico }}<br>
                <b>Telefono:</b> {{ compañia.telefono }}<br>
                <b>Ciudad:</b> {{ compañia.ciudad }}<br>           
            </td>
        </tr>
    
    </table>
    {% endif %}
    {% if formato.referencia == "ASC" %}
    {% if banco  %}
    <table id="cabecera">
        <thead > <tr>
            <th colspan="3"><b>DATOS Y AUTORIZACIÓN PARA TRANSFERENCIA</b> </th>
        </tr>
        </thead>
    </table>
       <table>
        <tr>
            <td style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>Banco:</b> {{ banco.nombre_banco }}                              
            </td>
            
            <td  style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>Tipo De Cuenta:</b> {{ banco.tipo_cuenta }}
                           
            </td>
            <td  style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <b>Numero De cuenta:</b> {{ banco.numero_cuenta }}
                       
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border-top: 1px solid black; padding-top: 4px; text-align:justify;font-size:14px;font-family: Arial; ">
                <p style="text-align:justify;font-size:9pt;font-family: Arial;">
                    Declaro que he sido informado, sobre mis derechos como titular de la anterior cuenta, para que la empresa AVITAR FERRETERÍA, pueda disponer de los
                    datos suministrados para realizar consignaciones y transferencia por motivo de pago de % porcentaje de participación como asociado por medio de la
                    anterior vinculación.
                </p>
                       
            </td>
        </tr>
    
    </table>
    {% endif %}
    {% endif %}
    <table id="cabecera">
        <thead > <tr>
            <th colspan="2"><b>DESCRIPCIÓN DE BENEFICIOS</b> </th>
        </tr>
        </thead>
    </table>
    <p style="text-align:justify;font-size:9pt;font-family: Arial;">
        • <b>Asesorías gratis:</b> nuestros clientes constructores, podrán acceder a asesorías profesionales y técnicas en sus proyectos de construcción y remodelación, por compras superiores a $1.500.000 pesos. <br>
        • <b>Descuentos especiales:</b> nuestros clientes constructores, que se encuentran registrados en nuestra base de datos, recibirán las notificaciones cuando el inventario de mercancía este en descuento y con promociones. <br>
        • <b>Categorización sistemática de clientes constructores:</b> al vincularse como clientes constructores, inmediatamente estarás registrado en nuestra base de datos y posteriormente se estará evaluando de forma sistemática los niveles y categorías a la que pertenece, este nivel lo obtendrá por medio de las compras realizadas directamente en AVITAR FERRETERÍA. <br>
        • <b>NIVELES Y CATEGORIZACIÓN</b> <br>
        1.	 Compras desde $0 a $7.000.000 <br>
        2.	Compras desde $7.000.001 a 10.000.000 <br>
        3.	Compras desde $10.000.001 en adelante<br>
        *tenga en cuenta que sus ventas y compras deben ser recurrentes, la categorización se realizará sistemáticamente y se evaluará bimestralmente, su nivel estará sujeto a la recurrencia de sus compras y ventas realizadas. 
        • <b>Puntos acumulables:</b> nuestros clientes constructores, podrán acumular puntos, por medio de las compras realizadas, estos puntos tendrán una vigencia de 12 meses, y estarán sujetos al nivel de categorización en la que se encuentre el cliente constructor. 
        • <b>Envíos gratis:</b> nuestros envíos gratis estarán sujetos al comportamiento recurrente en las compras y ventas que realice nuestro cliente preferencial Aplica para compras superiores a $150.000 pesos, dentro del municipio de Fonseca. 
        
    
    
    </p>
    <table id="cabecera">
        <thead > <tr>
            <th colspan="2"><b>DECLARACIÓN Y AUTORIZACIÓN PARA CONSULTAR Y COMPARTIR INFORMACIÓN SUMINISTRADA </b> </th>
        </tr>
        </thead>
    </table>  
    <p style="text-align:justify;font-size:9pt;font-family: Arial;"> 
        Dando cumplimiento a lo dispuesto en la Ley 1581 de 2012, "Por el cual se dictan disposiciones generales para la protección de datos personales" y de conformidad con lo señalado en el Decreto 1377 de 2013, con la firma de este documento manifiesto que he sido informado por AVITAR FERRETERíA  de lo siguiente: <br>
        1. AVITAR FERRETERíA actuará como Responsable del Tratamiento de datos personales de los cuales soy titular y que, conjunta o separadamente podrá recolectar, usar y tratar mis datos personales conforme la Política de Tratamiento de Datos Personales AVITAR FERRETERíA  disponible en la base de datos de la empresa. <br>
        2. Que me ha sido informada la (s) finalidad (es) de la recolección de los datos personales, la cual consiste en: la vinculación de clientes asociados. <br>
        3. Mis derechos como titular de los datos son los previstos en la Constitución y la ley, especialmente el derecho a conocer, actualizar, rectificar y suprimir mi información personal, así como el derecho a revocar el consentimiento otorgado para el tratamiento de datos personales. <br>
        4. Los derechos pueden ser ejercidos a través de los canales dispuestos  y observando la Política de Tratamiento de Datos Personales de AVITAR FERRETERíA. <br>
        5. Mediante forma personal dirigiéndose a las instalaciones de AVITAR FERRETERÍA, podré radicar cualquier tipo de requerimiento relacionado con el tratamiento de mis datos personales. <br> 
        6. AVITAR FERRETERÍA garantizará la confidencialidad, libertad, seguridad, veracidad, transparencia, acceso y circulación restringida de mis datos y se reservará el derecho de modificar su Política de Tratamiento de Datos Personales en cualquier momento. Cualquier cambio será informado y publicado oportunamente. <br>
         7. Teniendo en cuenta lo anterior, autorizo de manera voluntaria, previa, explícita, informada e inequívoca a AVITAR FERRETERÍA para tratar mis datos personales y tomar mi huella y fotografía de acuerdo con su Política de Tratamiento de Datos Personales para los fines relacionados con su objeto y en especial para fines legales, contractuales, misionales descritos en la Política de Tratamiento de Datos Personales. <br>
         8. La información obtenida para el Tratamiento de mis datos personales la he suministrado de forma voluntaria y es verídica. Se firma en el municipio de FONSECA, LA GUAJIRA  el {{ formato.fecha }}.
        
    </p>    
     <p style="text-align:justify;font-size:14px;font-family: Arial; margin-top: 60px;"> 
            <b>___________________________________________________</b> <br>
            <b>{{ formato.nombre|upper }}</b> <br>
            C.C. No. {{ formato.cedula }}
        </p> 
      
       
</body>
</html>
