{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'sale/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                {% if action == 'add' %}
                    <i class="fas fa-plus"></i>
                {% else %}
                    <i class="fas fa-edit"></i>
                {% endif %}
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de productos</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador de productos:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           placeholder="Ingrese una descripción de producto" autocomplete="off">
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-danger btn-flat"><i
                                                class="fas fa-times"></i></button>
                                      </span>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-bordered" id="data">
                                <thead>
                                <tr>
                                    <th>Eliminar</th>
                                    <th>Producto</th>
                                    <th>Categoría</th>
                                    <th>PVP</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de la factura</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Fecha de venta:</label>
                                {{ form.date_joined }}
                            </div>
                            <div class="form-group">
                                <label>Cliente:</label>
                                {{ form.cli }}
                            </div>
                            <div class="form-group">
                                <label>Subtotal:</label>
                                {{ form.subtotal }}
                            </div>
                            <div class="form-group">
                                <label>IVA:</label>
                                {{ form.iva }}
                            </div>
                            <div class="form-group">
                                <label>Total a pagar:</label>
                                {{ form.total }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar registro
            </button>
            <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
{% endblock %}