{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/pqrs/pqrs.js' %}"></script>
<script src="{% static 'js/pqrs/modals.js' %}"></script>
{% endblock %}
{% block busqueda %}
<input name="init" type="hidden" value="{{ inicio }}">
<input name="end" type="hidden" value="{{ fin }}">
<input name="est" type="hidden" value="{{ estado }}">
 {% endblock %}
{% block columns %}
<tr>
  <th scope="col" style="width: 5%">No</th>
  <th scope="col" style="width: 30%">Novedad</th>
  <th scope="col" style="width: 10%">Estado</th>
  <th scope="col" style="width: 10%">Fecha</th>
  <th scope="col" style="width: 25%">Registrado por</th>
  <th scope="col" >Inmueble</th>
  <th scope="col" style="width: 40%">Reportado por</th>
  <th scope="col" style="width: 10%">Mantenimiento</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}
<a class="btn btn-primary  btnPQRS btn-xm" id="btnPQRS" name="btnPQRS">
  <i class="fas fa-plus"></i> PQRS
</a>
<a class="btn btn-primary btn-success btn-xm btncorrectivos" id="btncorrectivos" name="btncorrectivos"><i class="fas fa-hammer"></i>
  Correctivos</a>
  <a class="btn btn-primary btn-warning btn-xm btnpreventivos" id="btnpreventivos" name="btnpreventivos">
    <i class="fas fa-plus"></i> Preventivos</a>
    <a class="btn btn-primary btn-info btn-xm btninforme" id="btninforme" name="btninforme"><i class="fa fa-file" aria-hidden="true"></i>
    Informes</a> 
  <a class="btn btn-primary btn-danger btn-xm imprimir11" id="imprimir11" name="imprimir11"><i class="fa fa-print">
  </i> Imprimir</a>
{% endblock %}
{% block javascript %}

{% endblock %}
{% block modal %}
 <!-- Modal -->
<div class="modal fade" id="novedadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">PQRS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add">
              <input name="cedula" type="hidden">
              {% csrf_token %}
              {{ form }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
 <!-- Modal1 -->
 <div class="modal fade" id="mantenimientoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mantenimiento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="mant">
              <input name="cedula" type="hidden">
              <input name="descripcion_actividad" type="hidden">
              <input name="usuario_novedad" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ formM }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
 <!-- Modal2 -->
 <div class="modal fade" id="fechaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <input name="action" type="hidden" value="fecha">
          <label>Inicio</label>
          <input type="date" data-date-format="yyyy-mm-dd" class="form-control inicio" name="inicio" id="inicio">
          <label>Fin</label>
          <input type="date" data-date-format="yyyy-mm-dd" class="form-control fin" name="fin" id="fin">
      </div>
      <div class="container-fluid">
        <label>Estado</label>
        <select name="estado" class="form-control estado" id="estado">
          <option value="no" selected>-----------</option>
          <option value="EJECUTADO">Ejecutado</option>
          <option value="EN EJECUCION">En Ejecucion</option>
          
        </select>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block javascriptmodal %}

{% endblock %}