<div class="modal-dialog modal-sp" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <ch2 class="modal-title">{{ title }}</ch2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     </div>
     <form action="" method="post" id="validar">
      {% csrf_token %}
      <div class="modal-body">
        {{ form }}
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
       </div>
     </form>     
  </div>
</div>