{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/mantenimientos/detalle.js' %}"></script>
<script src="{% static 'js/mantenimientos/modals.js' %}"></script>
{% endblock %}
{% block busqueda %}

 {% endblock %}
{% block columns %}
<tr>
 
  <th scope="col" style="width: 10%">Registrado Por</th>
  <th scope="col" style="width: 10%">Fecha</th>
  <th scope="col" style="width: 10%">Hora</th>
  <th scope="col" style="width: 5%">Contratista</th>
  <th scope="col" style="width: 10%">Etapa</th>
  <th scope="col" style="width: 10%">Estado</th>
  <th scope="col" style="width: 10%">Mantenimento</th>
  <th scope="col" style="width: 10%">Reportado por</th>
  <th scope="col" style="width: 5%">Recivido por</th>
  <th scope="col" style="width: 10%">Procedimiento</th>
    
</tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}
<a class="btn btn-primary btn-flat imprimir" id="imprimir" name="imprimir">
  <i class="fas fa-plus"></i> Imprimir
</a>
<a class="btn btn-primary btn-flat inmueble" id="inmueble" name="inmueble">
  <i class="fas fa-plus"></i> inmueble
</a>
{% endblock %}
{% block javascript %}


{% endblock %}
{% block modal %}
<div class="modal fade" id="inmuebleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-sp" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ch2 class="modal-title">Ingresar Propietario</ch2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       
       <form action="" method="post" id="validar" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <input type="hidden" name="action" value="add">
          {{ form }}
         </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
         </div>
         
       </form>     
    </div>
  </div>
  
</div>
{% endblock %}

{% block javascriptmodal %}

{% endblock %}