{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/mantenimientos/novedades.js' %}"></script> 
<script src="{% static 'js/mantenimientos/modals.js' %}"></script>
{% endblock %}
{% block busqueda %}
<input name="init" type="hidden">
<input name="end" type="hidden" >
<input name="est" type="hidden" >
 {% endblock %}
{% block columns %}
<tr>
  <th scope="col" style="width: 10%">Consecutivo</th>
  <th scope="col" style="width: 40%">Novedad</th>
  <th scope="col" style="width: 15%">Estado</th>
  <th scope="col" style="width: 15%">Fecha</th>
  <th scope="col" style="width: 20%">Registrado por</th>
  <th scope="col" style="width: 20%">Inmueble</th>
  <th scope="col" style="width: 20%">Reportado por</th>
  <th scope="col" style="width: 10%">Mantenimiento</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}

{% endblock %}
{% block javascript %}


{% endblock %}
{% block modal %}
  <!-- Modal -->
<div class="modal fade" id="mantenimientoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mantenimiento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add">
              <input name="cedula" type="hidden">
              <input name="descripcion_actividad" type="hidden">
              <input name="usuario_novedad" type="hidden">
              <input name="novedad" type="hidden">
              {% csrf_token %}
              {{ form }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
 
{% endblock %}

{% block javascriptmodal %}

{% endblock %}