{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/mantenimientos/individual.js' %}"></script> 
<script src="{% static 'js/mantenimientos/modals.js' %}"></script>
{% endblock %}
{% block busqueda %}
<input name="init" type="hidden">
<input name="end" type="hidden" >
<input name="est" type="hidden" >
 {% endblock %}
{% block columns %}
<tr>
  <th scope="col" style="width: 5%">No</th>
  <th scope="col" style="width: 25%">Descripcion</th>
  <th scope="col" style="width: 20%">Registrado Por</th>
  <th scope="col" style="width: 10%">Inmueble</th>
  <th scope="col" style="width: 12%">Estado</th>
  <th scope="col" style="width: 10%">Inicio</th>
  <th scope="col" style="width: 10%">Finalización</th>
  <th scope="col" style="width: 10%">Etapa</th>
  <th scope="col" style="width: 30%">Informe</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}
<a class="btn btn-primary procedimiento" id="procedimiento" name="procedimiento">
  <i class="fas fa-plus"></i> Procedimiento
</a>

{% endblock %}
{% block javascript %}


{% endblock %}
{% block modal %}
  <!-- Modal -->
<div class="modal fade" id="mantenimientoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add">
              <input name="id_inmueble" type="hidden">
              <input name="mantenimiento" type="hidden" >
              <input name="id_novedad" type="hidden" >
              
              {% csrf_token %}
              {{ formd }}
              
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
<!-- Modal1 -->
<div class="modal fade" id="procedimientoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
       <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Mantenimiento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <input name="action" type="hidden" value="add1">
                {% csrf_token %}
                {{ formp }}
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
  </form>
 

</div>
<!-- Modal3 -->
<div class="modal fade" id="fechaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <input name="action" type="hidden" value="fecha">
          <label>Inicio</label>
          <input type="date" data-date-format="yyyy-mm-dd" class="form-control inicio" name="inicio" id="inicio">
          <label>Fin</label>
          <input type="date" data-date-format="yyyy-mm-dd" class="form-control fin" name="fin" id="fin">
      </div>
      <div class="container-fluid">
        <label>Etapa</label>
        <select name="etapa" class="form-control estado" id="etapa">
          <option value="no" selected>-----------</option>
          <option value="Novedad">Novedad</option>
          <option value="Visita">Visita</option>
          <option value="Presupuesto">Presupuesto</option>
          <option value="Ejecucion">Ejecucion</option>
          <option value="Entrega">Entrega</option>
         
          
        </select>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block javascriptmodal %}

{% endblock %}