{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'js/mantenimientos/ficha.js' %}"></script> 
<script src="{% static 'js/mantenimientos/modals.js' %}"></script>
{% endblock %}
{% block busqueda %}

 {% endblock %}
{% block columns %}
<tr>
  <tr>
    <th scope="col" style="width: 5%">No</th>
    <th scope="col" style="width: 40%">Propietario</th>
    <th scope="col" style="width: 80%">Mantenimiento Realizado</th>
    <th scope="col" style="width: 5%">Ultimo Mantenimiento</th>
    <th scope="col" style="width: 5%">Proximo Mantenimiento</th>
    <th scope="col" style="width: 80%">Mantenimiento</th>
  </tr>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block total %}

{% endblock %}
{% block buttons_list %}

{% endblock %}
{% block javascript %}


{% endblock %}
{% block modal %}
    <!-- Modal -->
<div class="modal fade" id="fichaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="" method="post" enctype="multipart/form-data" id="formcliente" name='formcliente'>
     <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mantenimiento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <input name="action" type="hidden" value="add">
              <input name="cedula" type="hidden">
              <input name="novedad" type="hidden">
              <input name="id" type="hidden">
              {% csrf_token %}
              {{ form }}
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
</form>
</div>
 <!-- Modal -->

<div class="modal fade" id="inmueblemodal" data-bs-backdrop="static"  data-bs-keyboard="false" role="dialog">

</div>
{% endblock %}

{% block javascriptmodal %}


{% endblock %}