<!-- Main Footer -->
<footer class="main-footer text-center">
    {% if "Ferreteria" == request.user.groups.all.0.name  %}
    <strong>Jeffrey Jean Otto Aleman Vergara &copy; CC: 17951854 Telefono: +57(317)6427614 CORREO ELECTRONICO: ferreteria@gmail.com</strong><br>
    Direccion: CLL 15 # 17 - 101 Fonseca, La Guajira.
    {% else %}
    <strong>Aleman Vergara Proyectos Inmoviliarios SAS &copy; NIT: 900602576-9 Telefono: +57(605)7756666 </strong><br>
    Direccion: CLL 12 # 17 - 42 Fonseca, La Guajira.
    {% endif %}
</footer>