{% extends 'layout.html' %}
{% load static %}
{% block head %}
<link
  href="{% static 'lib/jquery-ui-1.13.2/jquery-ui.min.css' %}"
  rel="stylesheet"
/>
<script src="{% static 'lib/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.12.1/css/dataTables.bootstrap4.min.css' %}"/>
    
    <script src="{% static 'lib/datatables-1.12.1/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.12.1/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    {% block head_list %}

    {% endblock %}

{% endblock %}

{% block content %}
<div class="form-group">
{% block busqueda %}

{% endblock %}
<div class="card-header">
    {% block buttons_list %}
      
    {% endblock %}
</div>

</div>
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                
                {{ title }}:  {{ name }}
            </h3>
        </div>
        <div class="card-body">


            <table class="table table-bordered" id="data">
                <thead>
                {% block columns %}

                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
                <tfoot>
                    {% block total %}

                    {% endblock %}
                </tfoot>
            </table>
        </div>
        
    </div>
    {% block card %}
   
    {% endblock %}
    <table class="table table-bordered" id="data1">
                <thead>
                {% block columns1 %}

                {% endblock %}
                </thead>
                <tbody>
                {% block rows1 %}

                {% endblock %}
                </tbody>
                <tfoot>
                    {% block total1 %}

                    {% endblock %}
                </tfoot>
            </table>
        </div>
        
    </div>


{% block javascript %}
   
{% endblock %}
    {% block modal %}

    {% endblock %}

{% endblock %}

{% block javascriptmodal %}
   
{% endblock %}